.item-list{
  &__title{
    margin: 20px auto;
    font-size: 20px;
    flex-basis: 100%;
    text-align: center;
  }
  &__list{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 300px;
  }
}